<div id = 'status'>
<ul>
  <li>
    {{ game.num_players() }} people playing.
  </li>
  <li>
    Board dimensions: {{game_data.game_map.static.width}} by
    {{game_data.game_map.static.height}}
  </li>
</ul>
</div>
{% if game_data.has_placed %}
	<div id = 'wait'>
		<p> Please wait for the remaining players to place their pieces</p>
	</div>
{% else %}
	<div id = 'prompt'>
		<p> Choose a square of the board to start on! </p>
	</div>
{% endif %}
<div id = 'render_board'>
  <table cellspacing="0" cellpadding="0" >
    {%- for y in range(game_data.game_map.static.height) -%}
      <tr>
        {%- for x in range(game_data.game_map.static.width) -%}
          <td>
	    {% if not game_data.has_placed %}
			<a href="game{{gid}}/placeplayer?x={{x}}&y={{y}}">
			{% endif %}
	      <img src="../images/{{game_data.cell_images[(x, y)]}}"
		   width="50" height="50" />
			{% if not game_data.has_placed %}
	    </a>
			{% endif %}
	  </td>
        {%- endfor -%}
      </tr>
    {%- endfor -%}
  </table>
</div>