<!DOCTYPE html>
<html>
  <head>
    <title>Online Museum Caper! | Game {{gid}}</title>
    <style type = "text/css">
      td, tr, img  { padding: 0px; margin: 0px; border: none; }
      table { border-collapse: collapse; border-spacing: 0; }
      img{ 
      display:block;
      margin:0;
      }
    </style>
  </head>
  <body>
  	<div id = 'title'>
    	<h1>Game {{gid}}</h1>
  	</div>
    {% if game.game_state == 'pregame' %}
      {% include 'pregame.html' %}
    {% elif game.game_state == 'inplay' %} ## PLAYING
      {% include 'inplay.html' %}  
    {% endif %}
  </body>
</html>