<div id = 'message'>
<p> This game has not yet started. You can invite your friends to join your game on this page. </p>
</div>
<div id = 'currentplayers'>
<p> Here are the current users in your game: </p>
<ul>
{% for user in game_data.game_users %}
<li> {{ user.name }} </li>
{% endfor %}
</ul>
</div>
<div id = 'addplayer'>
<p> Add another player to the game: </p>
<form method='post' action = 'game{{gid}}/addplayer'>
  <label>Their username:&nbsp;</label><input name = "username">
  <br>
  <input type = "submit">
</form>
</div>
<div id = 'startgame'>
<form method='post' action = 'game{{gid}}/startgame'>
<input type = "submit" value = "Start Game">
</form>
</div>